.type-icon {
  color: #757575;
  margin-right: 5px;
}

.categories-list {
  max-width: 1000px;
  margin: 20px auto;
}
.mat-divider {
  margin: 10px 0;
}
.pointer {
  cursor: pointer;
}
.mat-spinner {
  margin: 50px auto;
}
.add-category {
  float: right;
  margin: 16px;
  font-size: 40px;
  color: #3f51b5;
  display: inline-table;
}